/* EXTRAS */
body{
  background-color: #add8e6;
}

/* NAVIGATION BAR */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #6667AB;
  margin: 6px 0;
  transition: 0.4s;
}

.sidenav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6667AB; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #eebbdd;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* TEXT */
.credits {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  text-align: center;
}

/* BUTTONS */
.button {
  border: none;
  color: #eebbdd;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
}

.button1 {
  background-color: #eebbdd; 
  color: white; 
}

.button1:hover {
  background-color: white;
  color: #eebbdd;
}

/* SEPARATION OF CONTENT */
.box {
  width: 100%;
  top: 550%;
  left: 0;
  background-color: #6667AB;
  padding-bottom: 3%;
  position: absolute;
}
